@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

/* Navbar section */

.nav_container{
    margin-left: 5%;
    margin-right: 5%;
}



.nav{
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: #fff;
    z-index: 10000;

}

.nav div.logo{
    width: 280px;
    height: 20px;
    position: absolute;
}

.nav div.logo a{
    text-decoration: none;
    color: #000;
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

.nav div.logo a:hover {
    color: #c315c9;
}

.nav div.main_list{
    width: 600px;
    height: 65px;
    float: right;
}

.nav div.main_list ul{
    width:100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width: 120px;
    height: 65px;
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: #000;
    line-height: 65px;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 500;
}


.nav div.main_list ul li a:hover{
    color: #c315c9;

}

.nav div.media_button {
    width: 30px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #000;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #000;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #000;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #000;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
    top: 17px;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
    top: 17px;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 30deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -30deg);
}



/* Hero */

.hero_section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
}

.hero_section .wave {
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    background: url(/assets/wave.png);
    opacity: 0.9;
    animation: animate 5s linear infinite;
}

.hero_section .wave:before {
    content: '';
    width: 100%;
    height: 143px;
    background: url(/assets/wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 5s linear infinite;
}

.hero_section .wave:after {
    content: '';
    width: 100%;
    height: 143px;
    background: url(/assets/wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    animation-delay: -5s;
    animation: animate 10s linear infinite;
}

.hero_text_container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 140px 0 0 100px;
    z-index: 500;
}

.hero_text_container h1{
    font-size: 4rem;
    color: #fff;
}

.hero_text_container h1 span{
    font-size: 2.5rem;
    color: #fff;
}


/* Services */

.services {
    background: #fff;
    padding: 100px;
    text-align: center;
}

.services .container {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 60px;
}

.services .container .serviceBx {
   position: relative;
   background: #fff;
   width: 350px;
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 15px;
   /* border: 1px solid #000; */
   box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.services .container .serviceBx img {
   max-width: 100px;
}

.services .container .serviceBx h2 {
   font-weight: 600;
   font-size: 2.2rem;
   letter-spacing: 1px;
   padding-top: 1.5rem;
}


/* Footer */
#footer {
	background-image: linear-gradient(90deg, #84d0dd 0%, #fff 100%);
}

#footer .footer {
    min-height: 60px;
    display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
}

#footer .social-icon {
	display: flex;
	margin-bottom: 5px;
}
#footer .social-item {
	height: 25px;
	width: 25px;
	margin: 0 10px;
}
#footer .social-item img {
	filter: grayscale(1);
    transition: .3s ease filter;
    height: 25px;
	width: 25px;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: #000;
	font-size: 1.3rem;
}


/* Keyframes */

@keyframes animate
{
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}

@keyframes animate-reverse
{
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}

/* Media querry section */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .nav_container{
        margin: 0;
    }

}

@media screen and (max-width:850px) {

/* Navigation */

    .nav_container{
        margin: 0;
    }

    .nav div.logo{
        margin-left: -45px;
    }

    .nav div.logo a{
        font-size: 1.8rem;
    }

    .nav div.main_list{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }

    .nav div.show_list{
        height: 200px;
    }

    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }

    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color: #fff;
    }

    .nav div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
        color: #000;
    }

    .nav div.media_button{
        display: block;
        margin-right: 15px;
    }

    /* Hero */

    .hero_section {
        background: url(/assets/bg2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: 0.9;
}

.hero_text_container {
    margin: 185px 0 0 50px;
}

}

/* Services */

.services {
    padding: 50px;
}

.services .container {
    justify-content: center;
    margin-top: 20px;
}

.services .container .serviceBx {
    margin: 20px;
    width: 250px;
    height: 320px;
}

@media screen and (max-width: 656px) {
    .hero_text_container {
        margin: 130px 0 0 30px;
        max-width: 40vw;
    }

    .hero_text_container h1{
        font-size: 3.5rem;
        color: #fff;
    }

    .hero_text_container h1 span{
        font-size: 2.2rem;
        color: #fff;
    }

}