@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
}

/* Navbar section */

.nav_container{
    margin-left: 5%;
    margin-right: 5%;
}



.nav{
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: #fff;
    z-index: 10000;

}

.nav div.logo{
    width: 280px;
    height: 20px;
    position: absolute;
}

.nav div.logo a{
    text-decoration: none;
    color: #000;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 500;
}


.nav div.logo a:hover {
    color: #c315c9;
}

.nav div.main_list{
    width: 600px;
    height: 65px;
    float: right;
}

.nav div.main_list ul{
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
}

.nav div.main_list ul li{
    width: 200px;
    height: 65px;
}

.nav div.main_list ul li a{
    text-decoration: none;
    color: #000;
    line-height: 65px;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 500;
}




.nav div.main_list ul li .contact-item:hover{
    color: #c315c9;

}

.nav div.media_button {
    width: 30px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}

.nav div.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.nav div.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #000;
    margin-top: 9px;
    margin-bottom: 10px;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #000;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #000;
}

.nav div.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #000;
}

.nav div.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
    top: 17px;
}

.nav div.media_button button.active span:nth-of-type(2) {
    display: none;
}

.nav div.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
    top: 17px;
}

.nav div.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 30deg);
}

.nav div.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -30deg);
}



/* Hero */

.hero_section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
}

.hero_section .wave {
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    left: 0;
    background: url(/assets/wave.png);
    opacity: 0.9;
    animation: animate 5s linear infinite;
}

.hero_section .wave:before {
    content: '';
    width: 100%;
    height: 143px;
    background: url(/assets/wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 5s linear infinite;
}

.hero_section .wave:after {
    content: '';
    width: 100%;
    height: 143px;
    background: url(/assets/wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    animation-delay: -5s;
    animation: animate 10s linear infinite;
}

.hero_text_container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 175px 0 0 80px;
    z-index: 500;
}

.hero_text_container h1{
    font-size: 3.8rem;
    color: #fff;
}

.hero_text_container h1 span{
    font-size: 2.8rem;
    color: #fff;
}


/* Services */

.services {
    background: #fff;
    padding: 100px;
    text-align: center;
}

.heading_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .heading {
    /* display: block; */
    max-width: 350px;
    margin: 50px 0 50px 0;
    font-size: 2.3rem;
    padding: 15px 10px;
    border-radius: 15px;
    background-color: rgb(59, 122, 240);
    color: #fff;
}

.services .container {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   /* margin-top: 60px; */
}

.services .container .serviceBx {
   position: relative;
   background: #fff;
   width: 350px;
   height: 400px;
   padding: 20px 10px;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   border-radius: 15px;
   /* border: 1 px solid #000; */
   /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75); */
}

.services .container .serviceBx img {
   max-width: 70px;
}

.services .container .serviceBx h2 {
   font-weight: 600;
   font-size: 1.8rem;
   letter-spacing: 1px;
   padding-top: 1.5rem;
}


.services .container .serviceBx p {
    font-size: 1.4rem;
    color: #5f5f5f;
}

/* About Section */

#about .container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 60px;
}

#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

#about .about2 {
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}

#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: .2rem;
	margin-bottom: 10px;
}
#about .col-right p {
    margin-bottom: 20px;
    font-size: 1.6rem;
}

/* Gallery */

.gallery_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery_container h2 {
    /* margin-top: 200px; */
    font-size: 4rem;
    color: #000;
    margin: 25px;
    text-align: center;
}

/* Contact */

body{
	height: 100vh;
	width: 100%;
}

.phone-no {
	font-size: 1.6rem;
}

.phone-no a {
	text-decoration: none;
	color: #000;
   }

.container_contact{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 20px 50px;
    margin: 0 auto;
    border-radius: 10px;
}

.container_contact:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("assets/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(15px);
    z-index: -1;
    opacity: 0.5;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    border-radius: 10px;
}

.left{
	background: url("assets/bg2.jpg") no-repeat center;
	background-size: cover;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.right{
    padding: 25px 40px;

}

.right h2{
	position: relative;
	padding: 0 0 10px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.right h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #3498db;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.3rem;
	margin-bottom: 22px;
    transition: .3s;
    border-radius: 10px;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.7rem 1rem;
	background-color: rgb(59, 122, 240);
	color: #fff;
	font-size: 1.3rem;
	border: none;
	outline: none;
	cursor: pointer;
    transition: .3s;
    border-radius: 10px;
}

.btn:hover{
    background-color: #055991;
}

.field:focus{
    border: 2px solid rgba(33, 37, 49, 0.47);
    background-color: #fff;
}


.info_container_wrapper, .info_container_wrapper2 {
	display: flex;
	justify-content: space-between;
	padding: 50px 50px;
	background: #fff;
}



.info_container_wrapper h3, .info_container_wrapper2 h3 {
	font-size: 2rem;
}

.info_container_wrapper h4, .info_container_wrapper2 h4 {
	font-size: 1.6rem;
}

.info_container_text {
	margin-right: 50px;
}

.info_container_img img {
	width: 128px;
	height: 128px;
}

#margin_footer {
    margin-top: 100px;
}

/* Footer */

#footer {
	background-image: linear-gradient(90deg, #84d0dd 0%, #fff 100%);
}

#footer .footer {
    min-height: 60px;
    display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
}

#footer .social-icon {
	display: flex;
	margin-bottom: 5px;
}
#footer .social-item {
	height: 25px;
	width: 25px;
	margin: 0 10px;
}
#footer .social-item img {
	filter: grayscale(1);
    transition: .3s ease filter;
    height: 25px;
	width: 25px;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: #000;
	font-size: 1.3rem;
}


/* Keyframes */

@keyframes animate
{
    0% {
        background-position: 0;
    }
    100% {
        background-position: 1360px;
    }
}

@keyframes animate-reverse
{
    0% {
        background-position: 1360px;
    }
    100% {
        background-position: 0;
    }
}

/* Media querry section */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .nav_container{
        margin: 0;
    }

}

@media screen and (max-width:850px) {

/* Navigation */

    .nav_container{
        margin: 0;
    }

    .nav div.logo{
        margin-left: -45px;
    }

    .nav div.logo a{
        font-size: 1.8rem;
    }

    .nav div.main_list{
        width: 100%;
        margin-top: 65px;
        height: 0px;
        overflow: hidden;
    }

    .nav div.show_list{
        height: 300px;
    }

    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }

    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color: #fff;
    }

    .nav div.main_list ul li a{
      text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
        color: #000;
    }

    .nav div.media_button{
        display: block;
        margin-right: 15px;
    }

    /* Hero */

    .hero_section {
        background: url(/assets/bg2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: 0.9;
}

.hero_text_container {
    margin: 185px 0 0 50px;
}

}

/* Services */

.services {
    padding: 50px;
}

.services .container {
    justify-content: center;
    margin-top: 20px;
}

.services .container .serviceBx {
    margin: 20px;
    width: 250px;
    height: 320px;
}



@media screen and (max-width: 786px) {
    .hero_text_container {
        margin: 130px 0 0 30px;
        max-width: 40vw;
    }

    .hero_text_container h1{
        font-size: 3rem;
        color: #fff;
    }

    .hero_text_container h1 span{
        font-size: 2rem;
        color: #fff;
    }

    .services .heading {
        /* display: block; */
        max-width: 270px;
        margin: 50px 0 50px 0;
        font-size: 2rem;
        padding: 15px 10px;
        border-radius: 15px;
        background-color: rgb(59, 122, 240);
        color: #fff;
    }
}

@media (min-width: 851px) {

    /* Navigation */

    .main_list ul li .contact-span {
        padding: 10px 10px;
        border-radius: 15px;
        background-color: rgb(59, 122, 240);
        color: #fff;
    }

    .main_list ul li .contact-span:hover {
        color: #fff;

    }

    /* About */

   #about .container {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #about img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin-top: 1px;
    }
	#about .about {
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}
	#about .about2 {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	#about .col-left {
		width: 290px;
		/* height: 500px; */
        margin-left: 160px;
        margin-right: 160px;
	}
	#about .col-left .about-img {
		margin-top: 0px;
	}

	#about .col-right {
		text-align: left;
        /* padding: 30px; */
        max-width: 400px;
	}

}


@media screen and (max-width: 880px){
	.container_contact {
		padding: 10px 20px;
		flex-direction: column-reverse;
	}
	.contact-box{
		grid-template-columns: 1fr;
		margin-top: 100px;
	}
	.left{
		height: 200px;
	}
	.info_container_wrapper {
		margin-top: 200px;
	}
	.info_container_wrapper2 {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	.info_container_img {
		margin-bottom: 75px;
	}
}

@media screen and (max-width: 593px){
	.info_container_wrapper {
		margin-top: 200px;
		flex-direction: column;
	}
	.info_container_text {
		margin-bottom: 50px;
	}
}

@media screen and (min-width: 881px) {
.info_container_img img {
	margin-right: 75px;
	margin-left: 20px;
}

.left{
	background: url("assets/bg2.jpg") no-repeat center;
	background-size: cover;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
}
}